.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1.400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}  

.background{
  background-color: #E0411B;
}

.logo-img{
  width: 30%;
  border-radius: 50px;
}

.bgHome{
  width: 100%;
}

.loghi{
  width: 10%;
  height: 10%;
}

.mappa{
  width: 100%;
  height: 400px;
}

.link{
  text-decoration: none;
  color: black;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1.400&display=swap");

:root{
    --bg: white;
    --txt: black;
}

body{
    font-family: "Roboto", sans-serif;
}

.center{
    display: grid;
    place-items: center;
    margin-bottom: 30px;
}

.head-style{
    display: grid;
    place-items: center;
}

.logo{
    width: 200px;
    height: 85px;
}

.center .cont{
    font-weight: bold;
}

.input-grid{
    display: grid;
}

.form-label{
    padding-bottom: 12px;
}

.input{
    border-radius: 3px;
    padding: 15px;
    width: 400px;
}

.input:nth-child(2){
    margin-bottom: 15px;
}

.form-down{
    cursor: pointer;
    font-size: 15px;
    font-weight: lighter;
}

.form-down button{
    background-color: red;
    width: 435px;
    color: black;
    border: none;
    padding: 12px;
    font-size: large;
    border-radius: 5px;
}

.avatar{
  background-color: white;
}

